# compiled output
/dist
/node_modules

# logs
*.log
npm-debug.log*

# env
.env
.env.local
.env.*.local

# OS
.DS_Store

# IDE
.vscode/*
!.vscode/extensions.json
.idea

# prisma
prisma/dev.db

# misc
coverage
*.tsbuildinfo
